
<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">

          <!-- form inscrit-->
          <div class="card rounded-0">
            <div class="card-header" style="background-color: rgb(45,153,194);">
              <h3 class="mb-0 text-white"><span *ngIf="id" class="text-white">Bienvenue</span><span *ngIf="!id" class="text-white">Inscrivez-vous</span> </h3>
            </div>
            <div *ngIf="id" class="h3">{{id}}
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>


